[submodule "varnish-cache-plus"]
	path = ext/varnish-cache-plus
	url = git@github.com:fwsGonzo/varnish-cache-plus.git
[submodule "FlameGraph"]
	path = ext/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "ext/varnish-cache"]
	path = ext/varnish-cache
	url = git@github.com:fwsGonzo/varnish-cache.git
