Source: libvmod-compute
Section: web
Priority: extra
Maintainer: Varnish Software <support@varnish-software.com>
Build-Depends:
 debhelper (>= 9),
 build-essential,
 pkg-config,
 python3-docutils,
 automake,
 autoconf,
 libtool,
 dh-autoreconf,
 varnish-plus-dev,
 libcurl4-openssl-dev,
 libssl-dev,
 libarchive-dev,
 cmake,
 g++
Standards-Version: 3.9.6

Package: libvmod-compute
Architecture: any
Depends:
  varnish,
  ${varnishd:VRT},
  ${shlibs:Depends},
  ${misc:Depends}
Description: KVM multi-tenant compute vmod for varnish
 Low-latency multi-tenant compute VMODs (kvm + tinykvm) embedding the libkvm
 sandbox engine.
